@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


:root{
    --color-principal-100:#ffffff;
    --color-principal-300: #e2dbfc;
    --color-principal-400: #f5f6ff;
    --color-principal-500: #673de5;
    --color-principal-600: #2f1c6a;
    --color-principal-800:#1f1346;
    --color-principal_900: #1D1E20;

}

*{
    font-family: "DM Sans", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
html{
    font-size: 16px;
}
.title-large{
    font-size: 36px;
    color: var(--color-principal-600);
}
.title-medium{
    font-size: 20px;
    color: var(--color-principal-600);
}
.title-small{
    color: var(--color-principal-600);
    font-size: 16px;
    font-weight: 300px;
}
.text-small{
    font-size: 18px;
    font-weight: 400;
    color: var(--color-principal-600);
}
.title-large--dark{
    color: var(--color-principal-100);
}
.title-medium--dark{
    color: var(--color-principal-100);
}
.title-small--dark{
    color: var(--color-principal-100);
}
.btn-primary{
    display: flex;
    padding: 12px 48px;
    border: 2px solid color var(--color-principal-500);
    background-color: var(--color-principal-500);
    border-radius: 8px;  
    color: var(--color-principal-100); 
    font-weight: 700;
}


.btn-secundary{
    display: flex;
    align-items: center;
    background-color: var(--color-principal-300);
    padding: 12px 48px;
    border: 2px none color var(--color-principal-300);
    border-radius: 8px;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 1px 6px 8px -5px rgba(153, 135, 135, 0.401);
    background-color: var(--color-principal-100);
    align-items: center;
    
}

.header-left-content{
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 29px 0px 29px 40px;
}
.logo-content{
    display: flex;
    align-items: center;
}

.Hostinger-logo-black{
    max-width: 180px;
    height: auto;
}
.nav-content{
    display: flex;
    align-items: center;
    gap: 24px;
    flex: 1;
}

.link-nav{
    color: black;
    text-decoration: none;
}

.header-right-content{
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 29px 29px 40px;

}
.flag-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ar-flag{
    max-width: 35px;
    height: auto;
}
.btn-lenguage{
    color: var(--color-principal_900);
    text-decoration: none;
}
.btn-link{
    border:2px solid var(--color-principal_900);
    color: black;
    text-decoration: none;
    padding: 12px 16px;
    border-radius: 16px;
}
.btn-menu{
        display: none;
}
.section-container{
    background-color: var(--color-principal-100); 
}

.section-container--light{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 36px 50px 96px 50px;
    
}
.hero-info{
    display: flex;
    flex-direction: column;
    padding: 20px 50px ;
}
.hero-info__list{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px 0px 0px 24px;
}
.hero-info__list-item{
    padding: 0 0 2px;
}
.bi-check-lg{
    color: green;
    width: 24px;
    height: auto;
}


.hero-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img{
    max-width: 900px;
    height: auto;
}

.hero-subtitle{
    font-weight: 700;
    padding: 8px;
}

.hero-price{
    display: flex;
    flex-direction:row;
    align-items: baseline;
    gap: 8px;
    font-weight: 700;
    width: 80%;
    height: auto;
    padding: 20px;
}

.price-text{
    display: flex;
    align-items: center;
    font-weight: 700;
    width: 100%;
    height: auto;
    margin: 20px 0;
}
.hero-button{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;

}


.hero-promo{
    display: flex;
    flex-direction: row;
    padding: 12px;
    gap: 5px;
}

.section-container--dark{
    display: flex;
    flex-direction: column;
    background-color: var(--color-principal-800);
    padding: 80px;
    margin-top: 40px;
    width: 100%;
    
     
}

.info-content{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.content-title{
    text-align: center;
    margin-top: 20px;
    margin: 0 0 48px;
    padding: 0 40px;
    width: 80%;
    height: auto;
    font-size: 32px;
    font-weight: 700px;
}

.content-title__info{
    font-size: 16px;
    width: 100%;
    font-weight: 700px;
    margin-bottom: 10px;
   
}

.content-cards-info{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 20px;
    
    

}

.content-cards{
    background-color: var(--color-principal-600);
    border-radius: 14px;
    width: 333px;
    height: 280px;
    padding: 36px;
    

}

.content-cards__icon{
    width:40px ;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-principal-400);
    margin-bottom: 10px;
}

.bi-globe{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--color-principal-500);
    color: var(--color-principal-300);
}

.content-cards__title{
    width: 270px;
    height: 48px;
    font-size: 16px;
    font-weight: 700px;
}
.content-cards__text{
    width: 270px;
    height: 96px;
}
footer{
    display: flex;
    flex-direction: column;
    padding: 0 50px 0 50px;
    margin: 0 0 24px;
    margin-top: 16px;
    width: 100vw;
    background-color: var(--color-principal-300);
}

.footer-logo-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-icon{
    display: flex;
    align-items: center;  
    padding: 20px;
}
.logo-host{
    max-width: 150px;
    height: auto;
}
.social-icon-content{
    display: flex;
    align-items: center;
    gap: 20px;
}
.social-icon__logo{
    width: 100px;
    height: auto; 
}
.legal-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
    text-align: right;
    gap: 10px;

}

.paymenth-methods{
   display: flex;
   align-items: center;
   gap: 10px;
   flex: 1;
   width: 200px;
    
}
.credit-cards{
    display: flex;
    width: 60px;
    height: 40px;
}
.paragraph-text{
    display: flex;
    align-items: end;
}
.text-small--footer{
    font-weight: 500;  
    text-decoration: none;
}
.text-small--legal{
    text-decoration: none;
}
.footer-copyright{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.footer-copyright__left{
    display: flex;
    align-items: center;
    flex: 1;
}
.footer-copyright__rigth{
    align-items: center;

}

    
    @media screen and (max-width: 1028px) {
    html {
        font-size: 14px; 
    }
    .btn-menu{
        display: none;
    }
    header {
        display: flex;
        align-items: center;
        max-width: 100vw; 
    }

    .section-container--light{
        display: flex;
        flex-direction: column;
    }
    .hero-info {
        text-align: center; 
    }

    .hero-price {
        align-items: center;
    }

    .info-content {
        padding: 20px; 
    }

    .content-cards {
        display: flex;
        flex-direction: column;
        margin: 10px 0; 
    }

    footer {
        text-align: center; 
    }

    .paymenth-methods {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
    }
}
@media screen and (max-width: 768px) {
    html{
        font-size: 14px;
    }
    header{
        display: flex;
    
    }
    .Hostinger-logo-black{
        max-width: 100px;
    }
    header .nav-content{
        display: none;
    }
    header .header-right-content{
        display: none;
    }
    .btn-menu{
        display: flex;
    }
    .section-container{
        display: flex;
        flex-direction: column;
    }
    .hero-img{
        max-width: 400px;
    }
    .section-container--dark{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 110vw;

    }
    .content-cards-info{
        display: flex;
        flex-direction: column;
    }
    footer{
        width: 110vw;;
    }
    .footer-logo-icon{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 10px;  
    }
   
    .social-icon__logo {
        margin: 0 5px; 
    }
    
    }
    .legal-footer{
        display:flex;
        text-align:center;
    }
    .footer-copyright{
        display: flex;
        flex-direction: column;
    }
   

  